<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout}">

<div layout:fragment="content" class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 p-5">
				<div class="row">
					<div class="col-md-12">
						<!-- <p th:text="${boardDto.category}"></p> -->
						<!-- 제목 -->
						<!-- 카테고리 -->
						<div>
						<th:block th:if="${boardDto.category.toString().equals('NOTICE')}">
							<a class="text-decoration-none" href="/pms/board/notice">공지 게시판</a>
						</th:block>
						<th:block th:if="${boardDto.category.toString().equals('WORK')}">
							<a class="text-decoration-none" href="/pms/board/work">업무 게시판</a>
						</th:block>
						 <span class="badge bg-light text-dark" th:text="${boardDto.boardScope}"></span>
						</div>
						<br>
						<h3 class="p-3 bg-light" th:text="${boardDto.title}"></h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4"></div>
					<div class="col-md-4 float-right">
						<!-- 작성자 -->
						<p class="d-inline bg-light">작성자</p>
						<div class="vr"></div>
						<span th:if="${boardDto.userOrganization.equals('DEFAULT')}">
							<img th:src="@{/img/admin.png}">
						</span>
						<strong>
							<p class="d-inline" th:text="${boardDto.userName}" />
						</strong>
						<th:block th:unless="${boardDto.userOrganization.equals('DEFAULT')}">
							<span class="badge bg-light text-dark" th:text="${boardDto.userOrganization}" />
						</th:block>
						<br>
						<!-- 등록일자 -->
						<p class="d-inline bg-light">작성일</p>
						<div class="vr"></div>
						<p class="d-inline" th:text="${#temporals.format(boardDto.regDate, 'yyyy-MM-dd  hh:mm:ss')}"></p>
					</div>
				</div>
				<hr class="border border-dark">
				<!-- 내용 -->
				<pre>
				<p class="p-3 bg-light" th:text="${boardDto.content}"></p>
				</pre>
				
				<div class="row-md">
					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">첨부파일</button>
							</h2>
							<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<!-- 첨부 파일 -->
									<div class="col-md-6 bg-light px-3">
										<p th:each="boardFile, index : ${boardFile}">
											<a class="text-decoration-none" th:href="@{/fileDownload/{boardId}(boardId=${boardFile.fileId})}" th:text="${boardFile.originFileName}">파일이름1.png</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="d-flex button-container">
						<a th:if="${isWriter}" class="btn btn-sm btn-primary mx-1"
							th:href="@{/pms/board/update/{boardId}(boardId=${boardDto.id})}">수정</a> <a th:if="${isWriter}"
							class="delete btn btn-sm btn-danger mx-1" href="javascript:void(0);" th:data-uri="@{|/delete/${boardId}|}">삭제</a>
						<a class="btn btn-sm btn-secondary mx-1" href="javascript:history.back();">목록</a>
					</div>
				</div>
			</div>
	</div>
</div>
</html>
<script th:src="@{/js/board-scripts.js}"></script>