<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout}">

<head>
<link th:href="@{/css/board.css}" rel="stylesheet" />
</head>

<div layout:fragment="content" class="content p-5">
	<form th:action="@{'/pms/board/update/' + *{id}}" th:object="${boardRequestDto}" method="post" enctype="multipart/form-data">
		<!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /> -->
		<input type="hidden" name="_method" value="POST" />
		<input type="hidden" id="boardId" name="id" th:value="*{id}" />
		<article>
			<div class="container" role="main">

				<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
					<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
				</div>
				<label for="board-title">제목</label>
				<input type="text" id="board-title" th:field="*{title}" rows="10" class="form-control">
				<br>
				게시판
				<!-- <div th:each="type : ${categorys}" class="form-check form-check-inline mb-3">
					<input type="radio" th:field="*{category}" th:value="${type.name()}" class="form-check-input">
					<label th:for="${#ids.prev('category')}" th:text="${type.description}" class="form-check-label"> </label>
				</div> -->
				<div>
					<select th:field="*{category}" class="form-select">
						<option value="">== 게시판을 선택해 주세요==</option>
						<option th:each="type : ${categorys}" th:value="${type.name()}" th:text="${type.description}"></option>
					</select>
				</div>
				<br>
				공개설정
				<br>
				<div class="form-check form-check-inline mb-3">
					<input type="radio" th:field="*{boardScope}" name="boardScope" value="전체" id="boardScope1" class="form-check-input">
					<label for="boardScope1" class="form-check-label">전체 공개</label>
				</div>
				<div class="form-check form-check-inline mb-3">
					<input type="radio" th:field="*{boardScope}" name="boardScope" th:value="${session.groupname}" id="boardScope2" class="form-check-input">
					<label for="boardScope2" class="form-check-label">조직 공개</label>
				</div>
				<br>
				<div class="mb-3">
					<div class="textLengthWrap">
						<p class="textCount">0자</p>
						<p class="textTotal">/5000자</p>
					</div>
					<textarea class="form-control" rows="15" id="content" name="content" th:text="*{content}" maxlength="5000" placeholder="내용을 입력하세요"></textarea>
				</div>
				<br>
				<div class="mb-3">
					<label for="content">첨부파일</label>

					<table id="fileTable" class="table">
						<thead class="table-light">
							<tr>
								<th>파일명</th>
								<th>체크</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="boardFile, index : ${boardFile}">
								<input type="hidden" name="boardFileId" th:value="${boardFile.fileId}">
								<td class="table-td" th:text="${boardFile.originFileName}"></td>
								<td class="table-td">
									<input type="checkbox" name="delYN" th:value="${boardFile.delYn}">
								</td>
							</tr>
						</tbody>
					</table>
					<div class="d-flex justify-content-end">
						<button class="btn btn-sm btn-danger" type="button" name="delBtn" id="delBtn">삭제</button>
					</div>
				</div>
				<br>
				<div class="mb-3">
					<label for="formFileMultiple" class="form-label">파일업로드</label>
					<input class="form-control" type="file" id="formFileMultiple" name="multipartFile" multiple>


				</div>
				<br>
				<div class="d-flex justify-content-end">
					<button type="submit" class="btn btn-sm btn-primary mx-1" id="btnSave">수정</button>
					<a href="javascript:void(0);" th:data-uri="@{|/delete/${boardId}|}" class="delete btn btn-sm btn btn-danger mx-1" th:text="삭제"></a>
					<a class="btn btn-sm btn-secondary mx-1" href="javascript:history.back();">취소</a>
				</div>
			</div>
		</article>
	</form>
</div>
</html>
<script th:src="@{/js/board-scripts.js}"></script>