<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout}">

<head layout:fragment="css">
<style>
.textCount, .textTotal {
	display: inline
}
.textLengthWrap{
	text-align: right
}

</style>
</head>

<div layout:fragment="content" class="content p-5">
	<form th:action th:object="${boardRequestDto}" method="post" enctype="multipart/form-data">
		<article>
			<div>
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
					<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />12
				</div>
				<label for="board-title">제목</label>
				<input type="text" id="board-title" th:field="*{title}" rows="10" class="form-control" placeholder="제목을 입력해 주세요">
				<br>
				카테고리
				<div th:each="type : ${categorys}" class="form-check form-check-inline mb-3">
					<input type="radio" th:field="*{category}" th:value="${type.name()}" class="form-check-input">
					<label th:for="${#ids.prev('category')}" th:text="${type.description}" class="form-check-label"> </label>
				</div>
				<br>
				공개범위
				<div class="form-check form-check-inline mb-3">
					<input type="radio" name="boardScope" value="전체" id="boardScope1" class="form-check-input" checked="checked">
					<label for="boardScope1" class="form-check-label">전체</label>
				</div><div class="form-check form-check-inline mb-3">
					<input type="radio" name="boardScope" th:value="${session.groupname}" id="boardScope2" class="form-check-input">
					<label for="boardScope2" class="form-check-label">조직</label>
				</div>
				<br>
				<div class="mb-3">
					<label for="content">내용</label>
					<div class="textLengthWrap">
						<p class="textCount">0자</p>
						<p class="textTotal">/5000자</p>
					</div>
					<textarea class="form-control" rows="15" id="content" name="content" th:field="*{content}" maxlength="5000" placeholder="내용을 입력해 주세요"></textarea>
				</div>
				<br>
				<div class="mb-3">
					<label for="formFileMultiple" class="form-label">파일업로드</label>
					<input class="form-control" type="file" id="formFileMultiple" name="multipartFile" multiple>
				</div>
				<br>
				<div>
					<button type="submit" class="btn btn-sm btn-primary" id="btnSave">등록</button>
					<a class="btn btn-sm btn-primary" href="javascript:history.back();">이전 페이지로 이동</a>
					</button>
				</div>
			</div>
		</article>
	</form>
</div>
</html>

<script>
$('#content').keyup(function (e) {
	let content = $(this).val();
    
    // 글자수 세기
    if (content.length == 0 || content == '') {
    	$('.textCount').text('0자');
    } else {
    	$('.textCount').text(content.length + '자');
    }
    
    // 글자수 제한
    if (content.length > 5000) {
        $(this).val($(this).val().substring(0, 5000));
        alert('글자수는 5000자까지 입력 가능합니다.');
    };
});
</script>