
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:fragment="headerFragment">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" th:href="@{/pms/board/notice}"><img th:src="@{/img/logo.gif}" alt="" /></a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
        	<img alt="" th:src="@{/img/icon_menu.png}">
        </button>
        <!-- Navbar Search-->

        <div class="gnb">
            <ul>
                <li><a th:href="@{/pms/board/notice}">공지게시판</a></li>
                <li><a th:href="@{/pms/board/work}">업무게시판</a></li>
                <li><a th:href="@{/pms/message/receive}">메시지</a></li>
                <th:block th:if="${session.role=='관리자'}">
                    <li><a th:href="@{/admin/organization}">환경설정</a></li>
                </th:block>
            </ul>
        </div>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <div class="alarm-wrap">
                    <a class="nav-link" role="button" aria-expanded="false" th:href="@{/pms/message/receive}">
                        <img th:src="@{/img/alarm2.png}">
                        <input type="hidden" id="unreadCount" th:value="${unreadMsgCount}">
                        <div class="circle-wrapper" style="display: none">
                            <div class="red-circle"></div>
                        </div>
                    </a>
                    <div class="message_modal_cover has_bubble nav-modal-cover">
                        <div class="message-modal">
                            <div class="header-content unchecked-cnt">읽지 않은 알림 <span class="num" th:text="${unreadMsgCount}">0</span>개</div>
                            <div class="list-content">
                                <div th:each="msg, stat : ${messageList}">
                                    <div class="infd-message-cover checked" th:classappend="${msg.messageState == '1'} ? 'unread' : ''">
                                        <a th:href="@{/pms/message/{msgId}(msgId=${msg.messageId})}" class="infd-message-el">
                                            <span class="title text-truncate" th:text="${msg.messageContent}" th:onclick="|location.href='@{/pms/message/{msgId}(msgId=${msg.messageId})}'|"></span>
                                            <span class="date" th:text="${msg.messageSender}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="button-content">
                                <a th:href="@{/pms/message/receive}">메시지함 가기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <div class="name-box">
                <input type="hidden" id="pmsUserId" th:value="${session.id}">
                <div>
                    <span id="pmsUserInfoName" th:text="${session.username}">사용자명</span>
                </div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-secondary btn-sm logout-btn">로그아웃</button>
                </form>
            </div>
        </ul>
    </nav>
</th:block>
</html>