<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Forwiz-PMS</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold">400</h1>
    <p class="fs-3">잘못된 요청</p>
    <p class="lead">
      잘못된 요청 구문이거나, 유효하지 않은 요청 메시지입니다.
    </p>
    <a th:href="@{/pms/board/notice}" class="btn btn-secondary">돌아가기</a>
  </div>
</div>
</body>
</html>