@charset "UTF-8";

.down_btn button{
    background: #222;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    padding: 2px 16px;
    line-height: 20px;
    border-radius:30px;
    border:none;
    letter-spacing:-1px;
}
.down_btn button:hover{
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);

}

.down_btn > a{
    padding-right: 5px;
}