@charset "UTF-8";

.msg-user-div{
	background: #0b0c0f;
    color: #a7a7a7;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sb-sidenav-menu-heading{
    height: 50px;
    background: #343a40;
    color: #fff !important;
    font-size: 15px !important; 
    padding : 10px !important;
    align-items: center;
    display: flex;
}

.nav-link{
	height: 35px;
}

.alram-header{
    height: 40px !important;
}

sup{
    float: right;
    top: 24px !important;
}
