<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout.html}">

<div layout:fragment="content">
  <h1 class="mt-4">Message</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Message</li>
    <li class="breadcrumb-item active">Receive Form</li>
  </ol>

  <th:block th:replace="fragment/message-menu-button :: messageMenuBtnFragment"></th:block>

  <div>
    this is message form
  </div>
</div>

</html>