<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout.html}">
<div layout:fragment="content">
    <h1 class="mt-4">설정</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">설정</li>
        <li class="breadcrumb-item active">조직</li>
    </ol>

    <th:block th:replace="fragment/setting-menu-button :: settingMenuBtnFragment(${#httpServletRequest.requestURI})"></th:block>

    <form th:action="@{/admin/organization/save}" method="post">
        <div class="org-write-container">
            <label for="org-name-text" class="col-form-label">조직명:</label>
            <input type="text" id="org-name-text" name="organizationName" autocomplete="off">
            <button class="btn btn-outline-secondary btn-sm" type="submit" id="org-regist-btn">등록</button>
        </div>
    </form>
    <span th:text="${resultMsg}"></span>
        <table id="orgTable" class="table">
            <thead class="table-light">
                <tr>
                    <th>번호</th>
                    <th>코드</th>
                    <th>이름</th>
                    <th>체크</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="org, stat : ${orgList}">
                    <input type="hidden" name="orgId" th:value="${org.organizationId}">
                    <td class="table-td" th:text="|${stat.count}|" th:value="${org.organizationId}"></td>
                    <td class="table-td" th:text="${org.organizationCode}"></td>
                    <td class="table-td" th:text="${org.organizationName}"></td>
                    <td class="table-td">
                        <input type="checkbox" name="isChecked" th:if="${!org.organizationName.equals('DEFAULT')}" th:value="${org.organizationDelete}">
                    </td>
                </tr>
            </tbody>

        </table>
        <div class="button-container">
            <button class="btn btn-secondary" name="delBtn" id="delBtn">삭제</button>
        </div>
</div>


</html>
<script th:src="@{/js/organization-scripts.js}"></script>