<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout.html}">

<div layout:fragment="content">
  <h1 class="mt-4">BOARD</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Board</li>
    <li class="breadcrumb-item active">Notice</li>
  </ol>

  <h2>Hello User : <span th:text="${session.username}"></span></h2>
  <span th:text="${session.groupname}"></span>
  <span th:text="${session.role}"></span>
    <form th:action="@{/logout}" method="post">
        <button type="submit">logout</button>
    </form>
</div>

</html>