<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:action="@{/sign-up}" method="post">
<!--    <form action="/sign-up" method="post">-->
        아이디 : <input type="text" name="userId">
        비밀번호 : <input type="password" name="userPw">
        그룹 : <input type="text" name="userGroup">
        이름 : <input type="text" name="userName">
        권한 : <input type="radio" name="auth" value="ROLE_ADMIN">ADMIN
        <input type="radio" name="auth" value="ROLE_USER" checked="checked">USER

        <button type="submit">join</button>
    </form>

</body>
</html>