<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:action="@{/sign-up}" method="post">
        아이디 : <input type="text" name="userId">
        비밀번호 : <input type="password" name="userPw">
        소속 :
        <select name="userGroup">
            <option th:each="val : ${organizations}" th:value="${val?.organizationName}" th:utext="${val?.organizationName}"></option>
        </select>
        직급 : <input type="text" name="userRank">
        이름 : <input type="text" name="userName">
        휴대폰 : <input type="tel" name="userPhoneNumber" placeholder="000-0000-0000" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}">
        권한 : <input type="radio" name="auth" value="ROLE_ADMIN">ADMIN
        <input type="radio" name="auth" value="ROLE_USER" checked="checked">USER

        <button type="submit">join</button>
    </form>

</body>
</html>