<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout.html}">
<head>
  <link th:href="@{/css/user-info.css}" rel="stylesheet" />
</head>
<div layout:fragment="content">
  <h1 class="mt-4">사용자 정보</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">사용자 정보</li>
    <li class="breadcrumb-item active">수정</li>
  </ol>

  <form th:action="@{/pms/user}" method="post">
    <div class="content">
      <table class="change-table">
        <tr>
          <th class="change-th" scope="row">휴대전화</th>
          <td class="change-td">
            <input type="tel" id="phone-text" th:value="${userInfo.userPhoneNumber}" name="userPhoneNumber" placeholder="000-0000-0000" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}" autocomplete="off">
          </td>
        </tr>
        <tr>
          <th class="change-th" scope="row">비밀번호</th>
          <td class="change-td">
            <input id="user-pw" type="password" name="userPw">
            <p class="grid">- 변경할 비밀번호를 입력하세요.</p>
          </td>
        </tr>
        <tr>
          <th class="change-th" scope="row">비밀번호 확인</th>
          <td class="change-td">
            <input type="password" id="user-pw-check">
            <p class="false-msg" id="check-msg-div"></p>
          </td>
        </tr>
      </table>
      <div class="change-btn-div">
        <button id="info-change-btn" class="btn btn-outline-secondary btn-sm" type="submit">변경</button>
      </div>
    </div>
  </form>
</div>
</html>
<script th:src="@{/js/info-change-scripts.js}"></script>