<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout.html}">

<div layout:fragment="content">
  <h1 class="mt-4">Setting</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Setting</li>
    <li class="breadcrumb-item active">User</li>
  </ol>

  <th:block th:replace="fragment/setting-menu-button :: settingMenuBtnFragment"></th:block>

    <table class="table">
      <thead class="table-light">
      <tr>
        <th scope="col">번호</th>
        <th scope="col">아이디</th>
        <th scope="col">이름</th>
        <th scope="col">휴대폰</th>
        <th scope="col">조직</th>
        <th scope="col">직급</th>
        <th scope="col">체크</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="user, stat : ${userList}">
        <input type="hidden" name="userId" th:value="${user.id}">
        <td th:text="|${stat.count}|"></td>
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userPhoneNumber}"></td>
        <td th:text="${user.organizationName}"></td>
        <td th:text="${user.userRank}"></td>
        <td>
          <input type="checkbox" name="delYN" th:value="${user.userDeleteYN}">
        </td>
      </tr>
      </tbody>
    </table>

  <div class="button-container">
    <button class="btn btn-secondary" name="delBtn" id="delBtn">삭제</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">사용자 등록</button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">사용자 등록</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/admin/user/join}" method="post">
            <div class="mb-3">
              <label for="id-text" class="col-form-label">아이디:</label>
              <input type="text" class="form-control" id="id-text" name="userId">
            </div>
            <div class="mb-3">
              <label for="pw-text" class="col-form-label">비밀번호:</label>
              <input type="password" class="form-control" id="pw-text" name="userPw">
            </div>
            <div class="mb-3">
              <label for="group-text" class="col-form-label">소속:</label>
              <select name="userGroup" class="form-control" id="group-text">
                <option th:each="val : ${organizations}" th:value="${val?.organizationName}" th:utext="${val?.organizationName}"></option>
              </select>
            </div>
            <div class="mb-3">
              <label for="rank-text" class="col-form-label">직급:</label>
              <input type="text" class="form-control" id="rank-text" name="userRank">
            </div>
            <div class="mb-3">
              <label for="name-text" class="col-form-label">이름:</label>
              <input type="text" class="form-control" id="name-text" name="userName">
            </div>
            <div class="mb-3">
              <label for="phone-text" class="col-form-label">휴대폰:</label>
              <input type="tel" class="form-control" id="phone-text" name="userPhoneNumber" placeholder="000-0000-0000" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}">
            </div>
            <div class="mb-3">
              권한 :
              <input type="radio" id="auth-admin" name="auth" value="ROLE_ADMIN">
              <label for="auth-admin" class="col-form-label">ADMIN</label>
              <input type="radio" id="auth-user" name="auth" value="ROLE_USER" checked="checked">
              <label for="auth-user" class="col-form-label">USER</label>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="submit" class="btn btn-primary">등록</button>
        </div>
        </form>
      </div>
    </div>
  </div>

</div>
</html>
<script th:src="@{/js/user-scripts.js}"></script>
