<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout.html}">

<div layout:fragment="content">
  <h1 class="mt-4">Setting</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Setting</li>
    <li class="breadcrumb-item active">User</li>
  </ol>

  <th:block th:replace="fragment/setting-menu-button :: settingMenuBtnFragment"></th:block>

  <table>
    <thead>
    <tr>
      <th>번호</th>
      <th>아이디</th>
      <th>이름</th>
      <th>휴대폰</th>
      <th>조직</th>
      <th>직급</th>
      <th>체크</th>
    </tr>
    </thead>
      <tbody>
      <tr th:each="user, stat : ${userList}">
        <input type="hidden" name="userId" th:value="${user.id}">
        <td th:text="|${stat.count}|"></td>
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userPhoneNumber}"></td>
        <td th:text="${user.organizationName}"></td>
        <td th:text="${user.userRank}"></td>
        <td>
          <input type="checkbox" name="delYN" th:value="${user.userDeleteYN}">
        </td>
      </tr>
      </tbody>
      <button name="delBtn" id="delBtn">del</button>

  </table>
  <button onclick="location.href='/admin/user/join'">save popup</button>
</div>
</html>
<script th:src="@{/js/user-scripts.js}"></script>
<style>
  table {
    width: 100%;
    border: 1px solid #444444;
  }
  th, td {
    border: 1px solid #444444;
  }
</style>
